ul {
    padding-left: 0px;
}

li {
    overflow: hidden;
    margin: 5px 0px;
    padding: 5px;
    border-radius: 5px;
    transition: background-color 0.2s;
}

li * {
    margin: 10px 15px;
}

li:hover {
    background-color: #eeeeee;
}
