ul {
    padding-left: 0px;
}

li {
    overflow: hidden;
    margin: 5px 0px;
    padding: 5px;
    border-radius: 5px;
    transition: background-color 0.2s;
}

li img {
    margin-right: 20px;
    float: left;
    max-height: 150px;
    max-width: 150px;
    width: auto;
    height: auto;
}

li .info * {
    margin: 15px 10px;
    flex-grow: 0;
}

li .info .button {
    margin: 0px 10px !important;
    flex-grow: 0;
}

li:hover {
    background-color: #eeeeee;
}
